@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    lightgreen,
    lightblue,
    lightyellow
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  height: 400px;
  width: 85%;
  max-width: 520px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2), -5px -5px 10px rgb(0, 0, 0, 0.2);
}

.heading {
  background: lightblue;
  width: 95%;
  text-align: center;
  margin: 10px 10px;
  border-radius: inherit;
  position: relative;
  bottom: 90px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.683);
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.3);
  transition: all 300ms ease;
}
.heading:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

.quoteArea,
i {
  color: rgb(251, 6, 6);
}

.quoteArea,
span {
  color: black;
  font-weight: 500;
}
small {
  padding: 2px 10px;
  margin-top: 5px;
  font-style: italic;
}
.btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  position: relative;
  top: 70px;
  box-shadow: -5px -5px;
  transition: all 300ms ease;
}
.btn:hover {
  box-shadow: 1px 1px;
  transform: scale(1.2);
  /* text-shadow: 5px -10px rgba(166, 18, 92, 0.9), -5px 10px rgba(40, 166, 18, 0.9); */
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 5px 5px;
  text-shadow: 5px 10px rgba(166, 18, 92, 0.9),
    -5px -10px rgba(40, 166, 18, 0.9);
}
